* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #1B3795;
}

header {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #1B3795;
}

section {
  background-color: #c4daee;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 3px 3px 10px black;
}

p {
  color: #1B3795;
  font-weight: 500;
  font-size: 20px;
}

input, input:focus {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #75a3ce;
  outline: none;
}

#lista-tarefas {
  background-color: #d1e9ff;
  border-radius: 5px;
  padding: 10px 20px 10px 30px;
}

li {
  color: #1B3795;
  font-weight: 500;
  padding: 5px;
}

li:hover {
  cursor: pointer;
}

.selected {
  background-color: #808080;
  border-radius: 2px;
}

.selected:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through solid #1B3795 2px;
}

#mover-cima, #mover-baixo {
  padding: 5px 15px 5px 15px;
}

#buttons {
  text-align: center;
}

button {
  background-color: #1B3795;
  color: #fff;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 3px 2px #626987;
  margin: 10px 5px 0 5px;
  padding: 5px;
  border-radius: 5px;
}

button:active {
  background-color: #1B3795;
  box-shadow: 0 2px 0 #1B3795;
  transform: translateY(2px);
}
